/ Footer
%footer.page-footer.font-small.bg-light.pt-4.mt-4
  / Call to action
  .text-center.py-3
    %ul.list-unstyled.list-inline.mb-0
      %li.list-inline-item
        %h4.mb-1 Join Us and Contribute Data
      %li.list-inline-item
        %a.btn.btn-success.btn-rounded{:href => "mailto:jharlin@las.ch,dpatton@las.ch"} Contact Us
  / /.Call to action
  / Footer Links
  .container.text-center.text-md-left
    .row
      / First column
      .col-md-10
        %h5.text-uppercase LETS Learn
        %p
          %strong LETS Learn
          supports the
          %a{:href => "http://lets-study.ch/"} LETS Study Project
          %strong
            %em (Local Environmental Transect Survey)
          by organizing and sharing the data for others
          to use and by providing learning materials for
          others to learn, participate and interpret
          Enviornmental Data.
      / Second column
      .col-md-2
        %h5.text-uppercase Links
        %ul.list-unstyled
          %li
            %a{:href => "/data"} LETS Data
          %li
            %a{:href => "/learn"} LETS Learn
          %li
            %a{:href => "http://lets-study.ch/"} LETS Study
      / /.Second column
  / /.Footer Links
  / Copyright
  .footer-copyright.py-1.text-center
    &copy; 2018 Copyright
    %strong
      %a{:href => "https://container4.ch/"} Container4
    in support of the
    %strong
      %a{:href => "http://lets-study.ch/"} LETS Study
  / /.Copyright
/ /.Footer
