/ <p id="notice"><%= notice %></p>
%p{:id => "item"}= notice

/ <h1>Data Dashboard</h1>
%h1 Data Dashboard

/ <p>
/   A form to select data of interest goes here
/ </p>
%p
  A form to select data of interest goes here
