%h1 LETS Learn

%p
  This site is designed to support citizen scientists interested in Enviornmental
  Science.
  %strong PLEASE JOIN US!
%p
  This site:
  %ul
    %li
      Shares Collected
      %a{href: "/data"} LETS Data
    %li
      Shares info to Analyze and Interpret LETS Data -
      %a{href: "/learn"} LETS Learn
    %li Shares LETS Study Design information -- we hope you will join us!

%h4
  LETS
  %small (Longitudinal Environmental Transect Survey)

%p
  Study species distribution along a transect over elevations -- Longitudinally
  %em (over time).
