%h1
  %small Overview

%p
  This site is designed to support citizen scientists interested in
  Enviornmental and Ecological Science and exploring climate change.
  %br
  %strong PLEASE JOIN US!

%p
  %b LETS Learn
  %ul
    %li
      %a{href: "/data"} LETS Data -
      Shares Collected Data
    %li
      %a{href: "/learn/analysis"} LETS Analyze -
      Shares info to Analyze and Interpret
    %li
      %a{href: "/learn/design"} LETS Design -
      Shares transect study design information
%p
  %strong
    LETS -
    %em (Longitudinal Elevation Transect Survey)
  %br
  Bi-annually, we
  %strong survey
  species distribution along a
  %strong transect
  %em (a fixed series of plots along line)
  that changes signifigantly in
  %strong elevation.
  %br
  This study will be done for many years to come -- allowing comparisons over
  long-time spans.  Studies done over long periods in order to watch for
  time-based changes are known as
  %strong longitudinal studies.
